.App {
  width: auto;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 20px 0; /* Adjust the margin as needed */
}

.video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
